<% product ||= @product %>
<%= form_with(model: product.orders.new, url: user_product_orders_path(
    current_user.id, product), remote: true) do |f| %>
  <div><%= hidden_field_tag :buyer, current_user.id %></div>
  <div><%= hidden_field_tag :seller, product.user_id %></div>
  <div><%= hidden_field_tag :status, 'Placed' %></div>
  <%= f.submit 'Order', class: 'btn btn-success', 
        id: "button_product_#{product.id}" %>
<% end %>
