<p id="notice"><%= notice %></p>

<h1>Products</h1>
<% if current_user.role == 'seller' %>
  <%= link_to "Seller Dashboard", seller_dashboard_path, 
    class: 'btn btn-primary', data: { product: @products } %>
  <%= link_to 'New Product', new_user_product_path(
      user_id: current_user.id), class: 'btn btn-primary' %>
<% end %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product name</th>
        <th>Product type</th>
        <th>Description</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td><%= product.product_name %></td>
          <td><%= product.product_type %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <% if current_user.role == 'buyer' %>
            <td><%= render 'orders/order_button', product: product, 
              user_id: product.user_id %></td>
          <% else %>
            <td><%= link_to 'Edit', edit_user_product_path(
                user_id: product.user_id, id: product.id), 
                class: 'btn btn-warning'%>
            </td>
            <td><%= link_to 'Destroy', user_product_path(
                user_id: product.user_id, id: product.id), method: :delete, 
                data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @products %>
